<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107212297-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107212297-1');
    </script>
    <meta charset="utf-8">
    <title>Zenzentai.com - Tout les zentais</title>
    <meta name="description" content="ZENTAI, costumes entiers, full body suites, déguisements..."/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="{{ prefix }}/app/manifest.json">
    <meta name="theme-color" content="#fff">
    <link rel="shortcut icon" href="{{ prefix }}/app/favicon.ico">
    <link href="{{ prefix }}/app/style.d703a.css" rel="stylesheet">
</head>
<body>
<script defer="defer" src="{{ prefix }}/app/bundle.340f4.js"></script>
<script>window.fetch || document.write('<script src="{{ prefix }}/app/polyfills.92805.js"><\/script>')</script>
</body>
</html>